.vantagens-bg {
  background-color: var(--cor-12);
}
.vantagens h2 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.vantagens ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-bottom: 80px;
}

.vantagens ul h3 {
  margin-bottom: 8px;
}

.perguntas h2 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.perguntas-conteudo {
  padding-bottom: 80px;
}

.perguntas-lista {
  padding: 20px 20px 20px 40px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.perguntas-lista h4 {
  margin-bottom: 16px;
  position: relative;
  display: flex;
  align-items: center;
}
.perguntas-lista h4::before{
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  left: -24px;
}
.perguntas-lista p {
  max-width: 80ch;
}
.perguntas-lista:nth-child(odd){
  background-color: var(--cor-1) ;
}



@media (max-width:800px) {
  .vantagens h2 {
    padding-top: 60px;
    padding-bottom:60px;
  }
  .vantagens ul {
    grid-template-columns: 1fr 1fr;
  }
  .perguntas h2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width:600px) {
  .vantagens h2 {
    padding-top: 40px;
    padding-bottom:40px;
  }
  .vantagens ul {
    grid-template-columns: 1fr;
  }
}